.d-flex{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.nav a{
    margin-right: 50px;
    font-size: 25px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}